ul, li {
  margin: 0;
  padding: 0;
}

body {
  background-color: aquamarine;
}

#addItemForm {
  margin-bottom: 10px;
}

#itemsList {
  list-style: none;
}

#itemsList li {
  color: #fff;
  padding: 20px 20px 5px 20px;
  background-color: #34495e;
  margin-bottom: 5px;
  border-radius: 10px;
}

h3, p {
  margin: 0;
  padding: 0;
}

h3 {
  border-bottom: 1px solid black ;
  margin-bottom: 10px;
}

p {
  font-size: 14px;
}
